amqp==2.2.2
backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.4
billiard==3.5.0.3
bottle==0.12.19
celery==4.1.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
docker==2.6.1
docker-pycreds==0.2.1
gevent==1.2.2
greenlet==0.4.12
idna==2.6
ipaddress==1.0.18
kombu==4.1.0
pbr==3.1.1
psycopg2==2.7.3.2
pycparser==2.18
PyJWT==1.5.3
pytz==2017.3
requests==2.18.4
six==1.11.0
stevedore==1.27.1
urllib3==1.24.2
vine==1.1.4
websocket-client==0.44.0
